DCDT_SYSTEM_SC_ADDRESS=drt1yvesqqqqqqqqqqqqqqqqqqqqqqqqyvesqqqqqqqqqqqqqqqzlllsd5j0s2

#============CHAIN==============

PROXY=https://testnet-gateway.dharitri.org
CHAIN_ID=T

#============OWNER==============

ALICE="./wallets/drt1zsha9cvx7gwraytgp740dcjzwy9v5xwnmas77d33uve6sk0rs0vqyrzus2.pem"
ALICE_ADDRESS=drt1zsha9cvx7gwraytgp740dcjzwy9v5xwnmas77d33uve6sk0rs0vqyrzus2

DRTPY_SIGN=()
#use this for signing transactions with a pem file
#DRTPY_SIGN+=(--pem=${ALICE})
#use this to sign with ledger
DRTPY_SIGN+=(--ledger)

#============WASM FILES==============

AGGREGATOR_WASM="./dharitri-sc-price-aggregator.wasm"
SAFE_WASM="./dcdt-safe.wasm"
BRIDGED_TOKENS_WRAPPER_WASM="./bridged-tokens-wrapper.wasm"
MULTI_TRANSFER_WASM="./multi-transfer-dcdt.wasm"
MULTISIG_WASM="./multisig.wasm"
PROXY_WASM="./bridge-proxy.wasm"
FAUCET_WASM="./faucet.wasm"
TEST_CALLER_WASM="./test-caller.wasm"

#============CONTRACT ADDRESSES==============

AGGREGATOR=drt1qqqqqqqqqqqqqpgqnlxmcs47kunkewcllqh0d72gv5pjhvfvs0vqqgf25h
SAFE=drt1qqqqqqqqqqqqqpgqkhx64czgpc84eftg6q25lrfyv95ndwtcs0vqnq82lf
BRIDGED_TOKENS_WRAPPER=drt1qqqqqqqqqqqqqpgqlgjwk8mpfycxpdf9q2sgzcndtdhdxr5ss0vq4cl3cd
MULTI_TRANSFER=drt1qqqqqqqqqqqqqpgqjsh8kss3w67xks7ths5d795q3nz8y52as0vqpnt3pk
MULTISIG=drt1qqqqqqqqqqqqqpgqdcat402y6c62hv07gt04rynjg4668z9fs0vqvu36zl
BRIDGE_PROXY=drt1qqqqqqqqqqqqqpgqk09rka2dslnf9ns5eze2s5xw2hfjxm0jzlsqlc95fe
FAUCET=drt1qqqqqqqqqqqqqpgqhhlx9mpdc92l0psszy3cf9lxhg9vzhs8zlsq09wrrd
TEST_CALLER=drt1qqqqqqqqqqqqqpgq398fy44g59se3pkmjz8tya39pz5q4tuvpqqq4j726w

#============v2 CONTRACT ADDRESSES==============
MULTISIG_v2=drt1qqqqqqqqqqqqqpgqu5asufdaxnzxhxgjheuee2mzm28y205rzcqqhg3046
AGGREGATOR_v2=drt1qqqqqqqqqqqqqpgqxgpczmmcjr64ladk2hz05gm6j73usrugzcqqxtqpw3
BRIDGED_TOKENS_WRAPPER_v2=drt1qqqqqqqqqqqqqpgqgvx0y4c9ael8ha29cvn0c3r6ay5c9heezcqqh0w3la

#============TOKENS SETTINGS==============
NR_DECIMALS_CHAIN_SPECIFIC=6
NR_DECIMALS_UNIVERSAL=6

UNIVERSAL_TOKEN_TICKER=USDC
UNIVERSAL_TOKEN_DISPLAY_NAME=WrappedUSDC

CHAIN_SPECIFIC_TOKEN_TICKER=ETHUSDC
CHAIN_SPECIFIC_TOKEN_DISPLAY_NAME=EthereumWrappedUSDC
UNIVERSAL_TOKENS_ALREADY_MINTED=0 # do not add the decimals on this value

#============TOKENS TO BE WHITELISTED==============
UNIVERSAL_TOKEN=
CHAIN_SPECIFIC_TOKEN=-a659d0
ERC20_TOKEN=0x2E8e0BBe20Ecd819c721D164fb91F7c33BDFC756
MINTBURN_WHITELIST=true
NATIVE_TOKEN=true

TOTAL_BALANCE=0
MINT_BALANCE=0
BURN_BALANCE=0
#============BRIDGE SETTINGS==============

FEE_AMOUNT=50 # value without decimals
MAX_AMOUNT=100000 # value without decimals

RELAYER_REQUIRED_STAKE=0 #1000rEWA
SLASH_AMOUNT=0
QUORUM=3
ORACLE_REQUIRED_STAKE=1 #1REWA

MAX_TX_PER_BATCH=70
MAX_TX_BLOCK_DURATION_PER_BATCH=100 #10minutes

ETH_MAX_AMOUNT=0

#============RELAYERS ADDRESSES==============
RELAYER_ADDR_0=drt1l9hpewk3dd6mz5j0yytjnzqtydukslmsms2d0fn0pg8pc42chqgqtmkchz
RELAYER_ADDR_1=drt1tfj6fpr5hd5fw8h6efycw42mk3c4wynausntvg6x98kcyn5npkkqxufgxk
RELAYER_ADDR_2=drt1689ky73s93aptw8ek0wrrzujtus365ygrqgj0hgj4cn09n5k3kuqet5v3q
RELAYER_ADDR_3=drt1uae36y2qvrslexcv3mwjqy9lwrlspvkdyjsar2xcj5ctrq7th26q6he08x
RELAYER_ADDR_4=drt1pkwhtl85ze02ckaf0t6qgycgx863kxyefxyqxumcth0nwtu3a9yql5a8s5
RELAYER_ADDR_5=drt197rmyux8ttzuwssh9thsewlzsc766tvpnussqkpew5vm9x63k0kqngd5qq
RELAYER_ADDR_6=drt1yhqfhsf237uyz4uzzg0duy9hhg8t3j4wtt020c5cy59w2v2jvkgq8032vx
RELAYER_ADDR_7=drt1pgvt06tyhlwegkdkzknyhcxfl3wz69wseqeqashm3d83mxjaewzqwqlxvs
RELAYER_ADDR_8=drt1ujfl0yxff6ey008ef89au4dn486dj549kpjuuu4xxtn9q550x3gq9qdd6n
RELAYER_ADDR_9=drt1zsha9cvx7gwraytgp740dcjzwy9v5xwnmas77d33uve6sk0rs0vqyrzus2

RELAYER_WALLET0="./walletsRelay/${RELAYER_ADDR_0}.pem"
RELAYER_WALLET1="./walletsRelay/${RELAYER_ADDR_1}.pem"
RELAYER_WALLET2="./walletsRelay/${RELAYER_ADDR_2}.pem"
RELAYER_WALLET3="./walletsRelay/${RELAYER_ADDR_3}.pem"
RELAYER_WALLET4="./walletsRelay/${RELAYER_ADDR_4}.pem"
RELAYER_WALLET5="./walletsRelay/${RELAYER_ADDR_5}.pem"
RELAYER_WALLET6="./walletsRelay/${RELAYER_ADDR_6}.pem"
RELAYER_WALLET7="./walletsRelay/${RELAYER_ADDR_7}.pem"
RELAYER_WALLET8="./walletsRelay/${RELAYER_ADDR_8}.pem"
RELAYER_WALLET9="./walletsRelay/${RELAYER_ADDR_9}.pem"

#============ORACLE ADDRESSES==============
ORACLE_ADDR_0=drt1ek7r87m623y94n8htdjhmhwud6vwhxanwl2xzdfl3kccejhefuqq2j9c05
ORACLE_ADDR_1=drt1vpz5mpsttd9q5puuaqr7kxfjhwsv2zqqu9jdhyrvkpyfhpnsf5qq2hp4mr
ORACLE_ADDR_2=drt10f8xflx9svsje0v2ujggp76jkzyxwpj0rxzgmvx5kle5vqk4f5qq4gfca4

ORACLE_WALLET0="./walletsOracle/${ORACLE_ADDR_0}.pem"
ORACLE_WALLET1="./walletsOracle/${ORACLE_ADDR_1}.pem"
ORACLE_WALLET2="./walletsOracle/${ORACLE_ADDR_2}.pem"
